.application{
	display: flex;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
}

.application__leftbar{
	width: 8%;
	height: 100%;
	border-right: 1px solid var(--border-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
@media all and (max-width: 1000px){
	.application__leftbar{
		display: none;
	}  
}

.application__leftbar .application__block{
	margin-bottom: 10px;
	padding: 20px;
	cursor: pointer;
	border-radius: 20px;
	transition: all 0.2s ease;
}
.application__leftbar .application__block:hover{
	background-color: var(--border-color);
}
.application__leftbar .application__block.-active{
	background-color: var(--border-color);
}

.application__leftbar .application__icon{
	width: 25px;
	height: 25px;
	background-size: contain;
	background-repeat: no-repeat;
}
.application__leftbar .application__icon#account{
	background-image: url('../img/account.png');
}
.application__leftbar .application__icon#chat{
	background-image: url('../img/chat.png');
}
.application__leftbar .application__icon#statistics{
	background-image: url('../img/statistics.png');
}

.application__navbar{
	display: flex;
	align-items: center;
	padding-left: 30px;
	width: 100%;
	height: 15%;
	font-size: 23px;
	border-bottom: 1px solid var(--border-color);
}

.application__navbar .application__icon{
	width: 24px;
	height: 24px;
	margin-right: 20px;
	background-image: url('../img/chat.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.application__navbar .application__icon#statistics{
	background-image: url('../img/statistics.png');
}
.application__navbar .application__icon#chat{
	background-image: url('../img/chat.png');
}
.application__navbar .application__icon#account{
	background-image: url('../img/account.png');
}

.lol {
	animation: showModal 0.3s ease backwards;
}