.modal-auth-error{
  position: absolute;
  z-index: 4;
  top: -50px;
  opacity: 0;
  background-color: #7a0000;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  animation: modal-auth-error ease 0.2s;
  box-shadow: inset 0px 0px 40px black;
  user-select: none;
  transition: all 0.5s ease;
}